.d-flex{
    padding-top: 10px;
    margin-top: 10px;
    background-color: whitesmoke;
}
.d-flex .card{
    margin-top: 20px;
    margin-left: 20px;

}
.d-flex .card-title{
    line-height: normal;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 20px;
}
.card-text{
    line-height: normal;
    font-weight: normal;
    font-size: initial;
}
.table{
    padding: 15px;
    text-align: left;
}
.row .col-2{
    margin-left: -110px;
}
.row{
    margin-top: -10px;
}
.newtask{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.milestone{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.rmilestone{
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
.top{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 10px;
}